certifi==2022.12.7
chardet==3.0.4
idna==2.5
python-dateutil==2.6.1
pytz==2017.2
regex==2017.7.11
requests==2.18.1
ruamel.ordereddict==0.4.9
ruamel.yaml==0.15.19
six==1.10.0
tzlocal==1.4
urllib3==1.21.1
